# PostgreSQL
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=ethiobus
POSTGRES_HOST=db

# JWT
SECRET_KEY=793dbf2850b8df98c7aaf8d9ba754f01b5b7055f856b68f4c6582431b23f2028  
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=2400
\n# The URL of the frontend application, for CORS configuration
FRONTEND_URL=http://localhost:3000
